.custom-select{
    position: relative;
    user-select: none;
    
    &>.custom-select-selected{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        border: 1px solid var(--beige-500);
        border-radius: 8px;
        padding: 12px 20px;

        &>svg{
            color: var(--grey-900);
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }

        &>p{
            color: var(--grey-900);
        }

        &:hover{
            cursor: pointer;
        }
    }

    &>.custom-select-options{
        position: absolute;
        top: calc(100% + 16px);
        display: flex;
        flex-direction: column;
        opacity: 1;
        pointer-events: all;
        width: 100%;
        max-height: 350px;
        min-width: 110px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: start;
        border-radius: 8px;
        background-color: white;
        padding: 12px 15px 12px 20px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
        transition: opacity 0.3s ease;
        scrollbar-width: none;
        z-index: 100;

        &::-webkit-scrollbar{
            display: none;
        }

        &>label:first-of-type{
            width: calc(100% + 8px);
            margin-bottom: 16px;
            padding: 8px;
            border-radius: 0px;
            margin-left: -8px;
        }

        &>.option-element{
            color: var(--grey-900);
            padding-block: 12px;

            &:hover{
                cursor: pointer;
            }

            &:first-of-type{
                padding-top: 0px;
            }
            &:last-of-type{
                padding-bottom: 0px;
            }

            &.option-disabled-element{
                opacity: 0.3;
                
                &:hover{
                    cursor: not-allowed;
                }
            }
        }

        &>.option-border{
            width: 100%;
            height: 1px;
            background-color: var(--grey-100);
            flex-shrink: 0;
        }
    }

    &.hidden{

        &>.custom-select-selected>svg{
            transform: rotate(0deg);
        }

        &>.custom-select-options{
            opacity: 0;
            pointer-events: none;
        }
    }

    &.custom-select-err>.custom-select-selected{
        border-color: var(--red);
    }   
}

.custom-select-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    &.custom-select-wrapper-err{

        &>p{
            color: var(--red)
        }
    }
}

.theme-option{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>.theme-option-content{

        display: flex;
        align-items: center;
        gap: 12px;

        &>.theme-pin{
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }

        &>p{
            color: var(--grey-900);
        }
    }

}