.number-input{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &>.input-header{
        
        display: flex;
        justify-content: space-between;

        &>p{
            transition: color ease 0.3s;
            color: var(--grey-900);
        }
    }

    &>input{
        display: flex;
        align-items: center;
        padding: 12px 20px;
        border: 1px solid var(--beige-500);
        border-radius: 8px;
        transition: border-color ease 0.3s;

        &:focus{
            border-color: var(--grey-500);
            outline: none;
        }

        &:hover{
            cursor: pointer;
        }
    }
}