.recurring-bills-main{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;

    &>.recurring-bills-infos{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    @media (max-width: 1400px) {
        &{
            display: flex;
            flex-direction: column;

            &>.recurring-bills-infos{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (max-width: 700px) {
        &>.recurring-bills-infos{
            display: flex;
            flex-direction: column;
        }
    }
}

.recurring-bills-total{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--grey-900);

    &>img{
        width: 40px;
        height: 40px;
    }

    &>div{
        display: flex;
        flex-direction: column;
        gap: 11px;
        color: white;
    }
}

.recurring-bills-summary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;

    &>h2{
        color: var(--grey-900);
    }

    &>.recurring-bills-summmary-details{
        display: flex;
        flex-direction: column;
        gap: 16px;

        &>.recurring-bills-summary-detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &>p{
                color: var(--grey-500);
            }

            &>h3{
                color: var(--grey-900);
            }

            &:last-of-type>*{
                color: var(--red);
            }
        }
    }
}

.recurring-bills-table{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background-color: white;
    border-radius: 12px;

    @media (max-width: 700px) {
        gap: 4px;
    }

    &>.recurring-bills-table-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>.recurring-bills-table-header-select{
            display: flex;
            align-items: center;
            gap: 8px;

            &>p{
                color: var(--grey-500);
            }
        }

        &>.recurring-bills-table-header-toggle{
            display: flex;
            align-items: center;
            gap: 8px;

            &>p{
                color: var(--grey-500);
                transition: font-weight 0.3s ease;
            }
        }

        @media (max-width: 700px) {
            flex-wrap: wrap;
            gap: 8px;

            &>label:first-of-type{
                width: 100%;
            }
            &>.recurring-bills-table-header-select>p{
                display: none;
            }

            &>.recurring-bills-table-header-toggle>p{
                display: none;
            }
        }
    }

    &>div:last-of-type{

        display: flex;
        flex-direction: column;
        gap: 8px;

        &>.recurring-bills-table-legend{
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            gap: 32px;
            padding: 12px 16px;
            border-bottom: 1px solid var(--grey-100);
    
            &>p{
                color: var(--grey-500);
                
                &:last-of-type{
                    text-align: right;
                }
            }
        }
    
        &>.recurring-bills-table-content{
            display: flex;
            flex-direction: column;
    
            &>.recurring-bill{
                padding-block: 20px;
            }
        }
    }

}

.recurring-bill{
    border: none;
    background-color: transparent;
    padding-inline: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 32px;
    align-items: center;
    transition: background-color 0.3s ease;
    
    .recurring-bill-profile{
        display: flex;
        gap: 16px;
        align-items: center;
        
        &>div{
            border-radius: 50%;
        }
        
        &>p{
            color: var(--grey-900);
        }
    }
    
    &>.recurring-bill-due{
        display:  flex;
        align-items: center;
        gap: 8px;
    }
    
    &>p{
        text-align: end;
    }

    &:hover{
        cursor: pointer;
        background-color: var(--grey-100);
    }

    &.recurring-bill-disabled{
        opacity: 0.5;
    }

    @media (max-width: 700px) {
        display: flex;
        padding-inline: 0px;
    }
}

.recurring-bill-mobile{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    flex: 1;
    
    &>div:last-of-type{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    
        &>div:first-of-type{
            display: flex;
            gap: 8px;
        }
    }
}