.text-input{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &>.input-header>p{
        color: var(--grey-500);
    }
    
    &>label{
        display: flex;
        align-items: center;
        padding: 12px 20px;
        border: 1px solid var(--beige-500);
        border-radius: 8px;
        transition: border-color ease 0.3s;

        &:focus{
            border-color: var(--grey-500);
            outline: none;
        }

        &:hover{
            cursor: pointer;
        }

        &>input{
            flex: 1;
            border: none;
            
            &:hover{
                cursor: pointer;
            }
            
            &:focus{
                outline: none;
            }
        }

        &>button{
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                cursor: pointer;
            }
        }
    }
}